p {
	color : red;
}

h1 {
	font-family: "times new roman";
	color : cyan;
}

h2 {
	font-family: "times new roman";
	color : rgb(139,69,19);
}

h3 {
	font-family: "times new roman";
	color : green;
}

body {
	background-color: grey;
}

h4 {
	font-size: 50px;
}

 .twitchheading3 {
		color : black;
}

 .screenshotheading {
	color : black;
}

nav ul {
	list-style-type: none;
	padding:0;
	margin: 0;
}

nav li {
	display: block;
	background-color: red;
	font-size: 10px;
	float: left;
}

nav a:link, nav a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #98bf21;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover, nav a:active {
    background-color: #7A991A;
}