p {
	color : red
}

h1 {
	color : cyan
	font-family: "times new roman"
}

h2 {
	color : rgb(139,69,19)
	font-family: "times new roman"
}

h3 {
	color : green
	font-family: "times new roman"
}

body {
	background-color: grey
}